.custom-color {
  color: aqua;
}

#my-working-dropdown::after {
  display: none;
}

.logo-container {
  position: relative;
}

.logo-container img {
  z-index: 1000;
  transform: translateY(-1rem);
}

.logo-container .brand {
  position: absolute;
  font-weight: 800;
  font-size: 30px;
  top: 14%;
  left: 21%;
  z-index: 1001;
}
